<!DOCTYPE html>
<html>
  <head>
    <title>PetApp</title>
    <style>
    .contorno{
        border:solid 30px grey; 
        width:600px;
        height:700px;
        border-radius:20px;
        color :white;
        background:black;
        margin:auto;
    }
    h1{
        text-align:center;
        border:solid 2px white;
        width:590px;
        margin:auto;
        margin-top:10px;    
        padding-top:5px;
    margin-bottom:5px;
    }
    .huella{
        border-radius:80px;
    }
    .seccion{
        background:grey;
       width:540;
       color:white;
       height:50px;
       margin-top:95px;
    }
   
    #sube{
        color:white;
        background:red;
        width:130px;
        padding:3px;
        border-radius:10px;
        font-size:30px;
        margin-left:10px;
    
    }
     #derecha{
        color:white;
        background:green;
        width:130px;
        padding:3px;
        border-radius:10px;
        font-size:30px;
        margin-left:10px;
    
    }
     #abajo{
        color:white;
        background:blue;
        width:130px;
        padding:3px;
        border-radius:10px;
        font-size:30px;
        margin-left:10px;
    
    }
     #izq{
        color:white;
        background:grey;
        width:130px;
        padding:3px;
        border-radius:10px;
        font-size:30px;
        margin-left:10px;
        margin-top:10px;
    }

  
    </style>
  </head>
  <body>
    <div class ="contorno">   
        <h1><%=image_tag "huellas.jpg" ,width:"80px",class:"huella" %> Welcome a the App Pets <%=image_tag "huellas.jpg" ,width:"80px", class:"huella" %> </h1>
            <%=image_tag "pelicula.jpg" ,width:"600px" %>
        <div class="botones">
            <button  id="sube"><%=link_to "Index","/pets",color:"white" %></button>
            <button  id="abajo"><%=link_to "New","/pets/new",color:"white"%></button>
        </div>

        <div class="seccion">
            <div class="home">
        
             </div>
        </div>
        
    </div>
  

  </body>
</html>
